<title>لوحة التحكم | الرئيسية</title>
<div class="columns back is-multiline">
    <div class="column is-3">
      <div class="card">
        <div class="card-image">
            <div class="card-image">
                <i class="fas fa-envelope" style="font-size: 2em !important;"></i>
            </div>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <a class="card-link" href="" routerLink="/dashboard/messages"><p class="title is-4">الرسائل</p></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <div class="card-image">
                <i class="fas fa-question-circle" style="font-size: 2em !important;"></i>
            </div>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <a class="card-link" href="" routerLink="/dashboard/quizes"><p class="title is-4">كويزات</p></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <div class="card-image">
                <i class="fas fa-users" style="font-size: 2em !important;"></i>
            </div>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <a class="card-link" href="" routerLink="/dashboard/users"><p class="title is-4">المستخدمين</p></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <div class="card-image">
                <i class="fas fa-layer-group" style="font-size: 2em !important;"></i>
            </div>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <a class="card-link" href="" routerLink="/dashboard/categories"><p class="title is-4">الأصناف</p></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <div class="card-image">
                <i class="fas fa-user" style="font-size: 2em !important;"></i>
            </div>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <a class="card-link" href="" routerLink="/dashboard/admin"><p class="title is-4">المستخدم</p></a>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>